*{
	padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei";
}
html, body{
	width: 100%;
    height: 100%;
    overflow: hidden;
}
.icon{
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
.bg{
	position: absolute;
	z-index: -1;
}
.bg-img{
	object-fit: cover;
}
.bg-cover{
	position: absolute;
	background: linear-gradient(to bottom, rgba(255,255,255,0.9) 10%,rgba(255,255,255,0) 100%);
}
#game, .title, .bg, .bg-img, .bg-cover, .pop-animate, .ingame{
	width: 100%;
	height: 100%;
}
.logo, .title-btns{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.logo{
	height: 60%;
}
.logo svg{
	font-size: 17em;
	fill: #00386f;
}
.title-btns{
	flex-direction: column;
	height: 40%;
}
.title-btns svg{
	display: block;
	fill-opacity: 0.6;
	font-size: 2.25em;
	width: 7.4em;
	height: 1em;
	fill: #00386f;
}
.title-btns span{
	position: absolute;
	text-align: center;
	width: 16.65em;
	line-height: 2.25em;
    margin-top: 0.1em;
    font-weight: bold;
	color: #00386f;
    letter-spacing: 0.1em;
}
.title-btns a{
    margin: 0.5em 0;
}
.fade-enter-active, .fade-leave-active {
	pointer-events: none;
	transition: opacity 1s;
}
.fade-enter, .fade-leave-to{
	opacity: 0;
}
/* 弹窗 */
.pop{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.pop-bg{
    position: absolute;
    transform: rotate(45deg);
    width: 25em;
    height: 25em;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 0 0.2em #00386f, 0 0 0 0.8em rgba(255, 255, 255, 0.8);
    z-index: 1;
}
.pop-enter-active{
	pointer-events: none;
	animation: pop 1s ease;
}
.pop-leave-active{
	pointer-events: none;
	animation: pop 1s reverse;
}
@keyframes pop{
	0%	{transform: scale(0.8) rotate(45deg);opacity: 0;}
	60%	{transform: scale(1.05) rotate(45deg);opacity: 1;}
	100%{transform: scale(1) rotate(45deg);}
}
.pop-content{
	display: block;
	z-index: 1;
	margin-bottom: 3em;
}
.pop-title{
	display: block;
	width: fit-content;
	font-size: 1.5em;
	letter-spacing: 0.2em;
	background: #00386f;
	color: #fff;
	padding: 0.1em 0.1em 0.2em 0.3em;
	margin: 1em auto;
}
.game-about{
	margin-bottom: 1em;
}
/* 游戏中 */
.ingame{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	flex-direction: column;
}
.game-info{
	position: relative;
	display: block;
	width: calc(100% - 2em);
	z-index: -1;
}
.info-type p{
	display: inline-block;
	font-style: italic;
	font-size: 1.5em;
	letter-spacing: 0.5em;
	padding: 0em 0em 0em 0.2em;
	color: #fff;
	background: #00bcd4 url(../img/bg_line.png);
	text-shadow: 0px 0px 5px #fff;
}
.info-round p{
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.2em;
	color: #5a5a5a;
	text-shadow: 1px 1px 0px #ddd;
}
.info-talk{
	position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2em;
    color: #fff;
    background: #503c44;
    padding: 0.1em 0.1em 0.1em 0.2em;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.board{
	border: 0.2em solid #7b7b7b;
	box-shadow: 0 0.5em 0 rgba(123, 123, 123, 0.3);
    margin: 1em 0;
    background: #fff;
}
.board-bg{
	background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.95) 20%,rgba(255,255,255,0.95) 80%,rgba(255,255,255,0.5) 100%);
}
.board ul{
	display: block;
	height: calc((100vw - 2em) / 8);
}
.board li{
	position: relative;
	display: inline-block;
	width: calc((100vw - 2em) / 8);
	height: calc((100vw - 2em) / 8);
	box-sizing: border-box;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}
.black{
    position: relative;
    top: 10%;
    left: 10%;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	transform: scaleZ(0.8);
    background: #a0a0a0;
}
.white{
    position: relative;
    top: 10%;
    left: 10%;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	transform: scaleZ(0.8);
	border: 4px solid #a0a0a0;
    box-sizing: border-box;
}
.chess-enter-active, .chess-leave-active {
	position: absolute;
	transition: opacity 0.5s;
}
.chess-enter, .chess-leave-to{
	opacity: 0;
}
.game-menu{
	height: 3em;
}
.menu-btn{
	position: absolute;
	right: 0.5em;
}
.menu-btn a{
	display: inline-block;
	font-size: 2em;
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	color: #5b5b5b;
}
.live2d{
    position: absolute;
    transform: scale(0.5);
    top: -340px;
    right: -370px;
}