<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>光与对立的故事</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="//at.alicdn.com/t/font_1477749_3t3yea0awq1.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="js/Core/Core.js"></script>
	
	<script src="js/Core/Event/Event.js"></script>
	<script src="js/Core/Event/GameCoreReverseEvent.js"></script>
	<script src="js/Core/Event/GameEndEvent.js"></script>
	<script src="js/Core/Event/GameStartEvent.js"></script>
	<script src="js/Core/Event/GameRoundEvent.js"></script>
	<script src="js/Core/Event/GameDisplayCheckerUpdatEvent.js"></script>
	
	<script src="js/Core/Player.js"></script>
	<script src="js/Core/Display.js"></script>
	
	<script src="js/Game/GameDisplay.js"></script>
	<script src="js/Game/Players/HumanPlayer.js"></script>
	<script src="js/Game/Players/AI/AIPlayer.js"></script>
	<script src="js/Game/Players/AI/VirtualDisplay.js"></script>
	<script src="js/Game/Players/AI/VirtualPlayer.js"></script>
	<script src="js/Game/Players/AI/GreedyAIPlayer.js"></script>
	<script src="js/Game/Players/AI/MinimaxAIPlayer.js"></script>
	<script src="js/Game/Players/AI/MCTSAIPlayer_StatusNode.js"></script>
	<script src="js/Game/Players/AI/MCTSAIPlayer.js"></script>
	<script src="js/Game/Players/AI/AIPlayer_Remi.js"></script>
	<script src="js/Game/Players/AI/AIPlayer_Fran.js"></script>
    
    <script src="js/Live2d/pixi/pixi.min.js"></script>
    <script src="js/Live2d/core/live2dcubismcore.min.js"></script>
    <script src="js/Live2d/framework/live2dcubismframework.js"></script>
    <script src="js/Live2d/framework/live2dcubismpixi.js"></script>
    <script src="js/Live2d/loadModel.js"></script>

	<script type="text/javascript">
		
		document.addEventListener('plusready', function(){
			//console.log("所有plus api都应该在此事件发生后调用，否则会出现plus is undefined。"
			
		});
		
	</script>
</head>
<body>
	<div id="game">
		<div class="bg">
			<transition name="fade">
				<div v-if="show_game" class="board-bg bg-cover" key="bg1"></div>
				<div v-if="!show_game" class="bg-cover" key="bg2"></div>
			</transition>
			<img class="bg-img" src="img/bg.png" >
		</div>
		<div class="pop">
			<transition name="pop">
				<div v-if="show_pop" class="pop-bg"></div>
			</transition>
			<transition name="fade">
				<div v-if="show_pop" class="pop-content">
					<p class="pop-title">{{pop_title}}</p>
					<div v-if="pop_type == 'choose_level'" class="title-btns">
						<a @click="start_level('level0')">
							<span>蕾米莉亚 · 斯卡雷特</span>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-title-btn"></use>
							</svg>
						</a>
						<a @click="start_level('level1')">
							<span>芙兰朵露 · 斯卡雷特</span>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-title-btn"></use>
							</svg>
						</a>
						<a @click="close_pop">
							<span>取消</span>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-title-btn"></use>
							</svg>
						</a>
					</div>
					<div v-if="pop_type == 'about'" class="about title-btns">
						<div class="game-about">
							<p>算法：Eric</p>
							<p>设计：陆陆侠</p>
						</div>
						<a @click="close_pop">
							<span>返回</span>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-title-btn"></use>
							</svg>
						</a>
					</div>
					<div v-if="pop_type == 'game'" class="title-btns">
						<a @click="return_title">
							<span>返回主界面</span>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-title-btn"></use>
							</svg>
						</a>
						<a @click="game_restart">
							<span>重新开始</span>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-title-btn"></use>
							</svg>
						</a>
						<a @click="close_pop">
							<span>取消</span>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-title-btn"></use>
							</svg>
						</a>
					</div>
				</div>
			</transition>
		</div>
		<transition name="fade">
		<div v-if="show_title" class="title">
			<div class="logo">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-logo"></use>
				</svg>
			</div>
			<div class="title-btns">
				<a @click="start_game">
					<span>开始游戏</span>
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-title-btn"></use>
					</svg>
				</a>
				<a @click="about_game">
					<span>关于</span>
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-title-btn"></use>
					</svg>
				</a>
			</div>
		</div>
		</transition>
		<transition name="fade">
		<div v-if="show_game" class="ingame">
			<div class="game-info">
				<div class="info-type">
					<p>光VS对立</p>
				</div>
				<div class="info-round">
					<p>第<span>{{game_round}}</span>回合 {{game_score[0]}}/{{game_score[1]}}</p>
                </div>
                <transition name="fade">
				<div v-if="info_talk" class="info-talk">
					<p>{{info_talk}}</p>
                </div>
                </transition>
                <div class="live2d">
                    <canvas></canvas>
                </div>
			</div>
			<div class="board">
				<ul v-for="(line, x) in checkerboard">
					<li @click="place_chess(x, y)" v-for="(cell, y) in line">
						<transition name="chess">
						<div v-if="cell == '0'" class="black"></div>
						</transition>
						<transition name="chess">
						<div v-if="cell == '1'" class="white"></div>
						</transition>
					</li>
				</ul>
			</div>
			<div class="game-menzu">
				<div class="menu-btn">
					<a @click="menu">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-menu"></use>
						</svg>
					</a>
				</div>
			</div>
		</div>
		</transition>
	</div>
	<script src="js/game.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>